html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(70,71,252,1) 100%);
}

#logo {
  width: 100%;
  max-width: 600px;
}

.container {
  flex: 1 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 30px;
}

.link {
  background-color: #ee5253;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.3em;
}

footer {
  flex-shrink: 0;
  padding: 20px;
}

.social-links {
  margin-top: 10px;
}